Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.AssemblyInfo.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/project.assets.json
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Wallpapper.Domain.Tests.csproj.nuget.g.targets
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Wallpapper.Domain.Tests.csproj.nuget.g.props
Wallpapper.Domain/.vs/Wallpapper.Domain/v15/Server/sqlite3/storage.ide
Wallpapper.Domain/.vs/Wallpapper.Domain/v15/Server/sqlite3/db.lock
Wallpapper.Domain/Wallpapper.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wallpapper.Domain/Wallpapper.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wallpapper.Domain/Wallpapper.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/bin/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.deps.json
Wallpapper.Domain/.vs/Wallpapper.Domain/v15/Server/sqlite3/storage.ide-wal
Wallpapper.Domain/Wallpapper.Domain/obj/Debug/Wallpapper.Domain.csproj.FileListAbsolute.txt
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.csproj.FileListAbsolute.txt
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.csproj.CopyComplete
Wallpapper.Domain/Wallpapper.Domain.Tests/obj/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.Program.cs
Wallpapper.Domain/Wallpapper.Domain.Tests/bin/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.runtimeconfig.json
Wallpapper.Domain/Wallpapper.Domain.Tests/bin/Debug/netcoreapp2.1/Wallpapper.Domain.Tests.runtimeconfig.dev.json
Wallpapper.Domain/.vs/Wallpapper.Domain/v15/Server/sqlite3/storage.ide-shm
Wallpapper.Domain/Wallpapper.UI/obj/Debug/wallpapper.ui.exe.licenses
Wallpapper.Domain/Wallpapper.UI/obj/Debug/Wallpapper.UI.Properties.Resources.resources
Wallpapper.Domain/Wallpapper.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Wallpapper.Domain/Wallpapper.UI/bin/Debug/Telerik.WinControls.UI.xml
Wallpapper.Domain/Wallpapper.UI/obj/Debug/Wallpapper.View.csproj.FileListAbsolute.txt
Wallpapper.Domain/Wallpapper.UI/obj/Debug/Wallpapper.UI.MainForm.resources
Wallpapper.Domain/Wallpapper.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Wallpapper.Domain/Wallpapper.UI/bin/Debug/Telerik.WinControls.xml
Wallpapper.Domain/Wallpapper.UI/obj/Debug/Wallpapper.View.csproj.CopyComplete
Wallpapper.Domain/Wallpapper.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Wallpapper.Domain/Wallpapper.UI/bin/Debug/Wallpapper.UI.exe.config
